<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESCOLHA UM NUMERO!!!</title>
</head>

<body>

    <form action="/update/<%- _id%>" method="post">
        <label> <%- nome %> </label>
        <label> <%- numero %> </label>
        <input name="new_numero" placeholder="Novo numero..." type="number"/>
        <button type="submit">Atualizar</button>
    </form>

</body>

</html>